{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "Synchronize your forks with ease",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/thetnaingtn/synrk.git"
  },
  "keywords": ["github","go", "cli", "synchronize", "sync", "bubble", "bubbletea","github-api", "fork"],
  "license": "MIT OR Apache-2.0",
  "homepage": "https://github.com/thetnaingtn/synrk#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}